#
# Backend ----
#

# Docker
backend/build/nextflow/code_1.82.3-1696245001_amd64.deb
backend/build/nextflow/creds_smb_library
backend/build/nextflow/template_sge_cell.conf

# Source code
#backend/build/search_engine/MSFragger-3.8.zip
#backend/build/search_engine/ThermoRawFileParser1.4.2.zip

# Singularity
backend/build/shifts/shifts.sif
backend/build/solver/solver.sif
backend/build/refrag/refrag.sif
backend/build/search_engine/search_engine.sif
backend/build/backend.sif
backend/build/ptm-compass.sif


#
# Frontend ----
#



