manifest {
    name            = 'next-Launcher'
    author          = """Jose Rodriguez"""
    homePage        = 'https://github.com/CNIC-Proteomics/next-Launcher'
    description     = """A web server for running Nextflow pipelines"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.1'
    version         = '0.0.1'
    doi             = ''
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all modules
----------------------------------------------------------------------------------------
*/

// Load base.config by default for all pipelines
includeConfig System.getenv('NXF_CONF')+'/base.config'

// Load module config for default modules parameters
includeConfig System.getenv('NXF_CONF')+'/modules.config'

